:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --ff-manrope: 'Manrope', sans-serif;
  --fs-normal: 13px;
  --fw-normal: 500;
  --fw-bold: 700;
}

html {
  font-size: var(--fs-normal);
}

body {
  display: grid;
  background-color: var(--light-grayish-blue);
  font-family: var(--ff-manrope);
  place-items: center;
}

.article {
  max-width: 21.8rem;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.article__content {
  padding-inline: 2.13rem;
  padding-block-start: 2.4rem;
  padding-block-end: 2.13rem;
}

.article__heading {
  font-size: 1.06rem;
  color: var(--very-dark-grayish-blue);
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.article__copy {
  line-height: 1.5;
  letter-spacing: 0.12px;
}

.article__footer {
  padding-inline: 2.13rem;
  padding-block-end: 1.3rem;
}

/* TODO 
 [ ] article info
 [ ] share button
 [ ] hover states for mobile
 [ ] desktop viewport
 [ ] hover states for desktop
*/